services:
  k3s:
    image: rancher/k3s:v1.30.7-k3s1
    privileged: true
    command: server --disable traefik --write-kubeconfig-mode 644
    environment:
      K3S_KUBECONFIG_OUTPUT: /output/kubeconfig.yaml
      K3S_KUBECONFIG_MODE: "644"
    volumes:
      - k3s-server:/var/lib/rancher/k3s
      - ./kubeconfig:/output
      - /var/run/docker.sock:/var/run/docker.sock

  kubectl:
    image: bitnami/kubectl:1.30
    depends_on:
      - k3s
    environment:
      KUBECONFIG: /output/kubeconfig.yaml
    volumes:
      - ./kubeconfig:/output
      - ../../deploy/k8s:/manifests:ro
    entrypoint: ["/bin/sh","-lc"]
    command: ["sleep infinity"]

volumes:
  k3s-server: {}
